- if mobile?
  %h1.title.is-1.has-text-left-aligned Portfolio
  .has-text-left-aligned.background-opaque
    .columns.is-vcentered
      =render :partial => 'main/portfolio/handsome_scheduler'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/portfolio'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/habitrack'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/eoen'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/costume'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/checkers'
- else
  %h1.title.is-1.has-text-left-aligned Portfolio
  .has-text-left-aligned.scrollable.background-opaque
    .columns.is-vcentered
      =render :partial => 'main/portfolio/handsome_scheduler'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/portfolio'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/habitrack'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/eoen'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/costume'
    .columns.is-vcentered
      = render :partial => 'main/portfolio/checkers'
