%h1.title.is-2.has-text-left-aligned Portfolio
.has-text-left-aligned.content
  .columns.is-vcentered
    .column.is-6
      %div
        %h1.title.is-3 Handsome Scheduler
      %div
        %h5.bold
          %span.primary Ruby
          |
          %span.primary Ruby on Rails
          |
          %span.primary React
          |
          %span.primary Webpacker
          |
          %span.primary Google OAuth
          |
          %span.primary Handsontable
          |
          %span.primary PostgreSQL
          |
          %span.primary Bulma
      %p
        Using
        %span.primary.bold Handsontable's React Wrapper
        as a data input to allow for bulk insertion of
        %span.primary.bold Google Calendar
        events using a familiar spreadsheet input. View your calendar events without having to navigate
        to Google using the
        %span.primary.bold FullCalendar.io
        calendar library.
      %p
        = link_to 'Github', 'https://github.com/Foozie3Moons/handsome-scheduler',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
        = link_to 'Website', 'https://handsome-scheduler.herokuapp.com',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    .column.is-6
      = link_to 'https://handsome-scheduler.herokuapp.com', target: :_blank do
        = image_tag 'handsome_scheduler_screenshot'
  .columns.is-vcentered
    .column.is-6
      %div
        %h1.title.is-3 Rails Portfolio
      %div
        %h5.bold
          %span.primary Ruby
          |
          %span.primary Ruby on Rails
          |
          %span.primary HAML
          |
          %span.primary D3.js
          |
          %span.primary Bulma
          |
          %span.primary SASS
      %p
        A full stack app using
        %span.primary.bold Ruby on Rails.
        It currently does not use
        %span.primary.bold PostgreSQL
        but it is set up to use it.
      %p
        = link_to 'Github', 'https://github.com/Foozie3Moons/rails-portoflio',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
        = link_to_if 'false', 'Website', 'https://mjbell.io',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    .column.is-6
      = link_to 'https://mjbell.io', target: :_blank do
        = image_tag 'portfolio_screenshot'
  .columns.is-vcentered
    .column.is-6
      %h1.title.is-3 Habitrack
      %h5.bold
        %span.primary.bold
        %span.primary MongoDB
        |
        %span.primary Express
        |
        %span.primary React
        |
        %span.primary Node.js (MERN)
        |
        %span.primary D3.js
        |
        %span.primary Material UI
      %p
        A group collaboration habit tracker using
        %span.primary.bold D3/Recharts
        to visualize and motivate users to develop positive habits.
      %p
        = link_to 'Github', 'https://github.com/Foozie3Moons/habitrack',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
        = link_to 'Website', 'https://habitrackapp.herokuapp.com',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    .column.is-6
      = link_to 'http://habitrackapp.herokuapp.com' do
        = image_tag 'habitrack_screenshot'

  .columns.is-vcentered
    .column.is-6
      %h1.title.is-3 Eoen Loan Calculator
      %h5.bold
        %span.primary Node.js
        |
        %span.primary Jade/Pug
        |
        %span.primary PostgreSQL
        |
        %span.primary D3.js
        |
        %span.primary Semantic UI
      %p
        This is a pet project of mine. Calculating loan data from user input, saving the user's data, and visualizing it with
        %span.primary.bold D3.
        Proper working auth with
        %span.primary.bold passport
        and
        %span.primary.bold session.
      %p
        = link_to 'Github', 'https://github.com/Foozie3Moons/eoen',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
        = link_to 'Website', 'https://eoen.herokuapp.com',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    .column.is-6
      = link_to 'https://eoen.herokuapp.com', target: :_blank do
        = image_tag 'eoen_screenshot'
  .columns.is-vcentered
    .column.is-6
      %h1.title.is-3 CostuME (React Hackathon)
      %h5.primary.bold React
      %p
        A fully functional
        %span.primary.bold React
        app built in 24 hours. Have you ever had difficulty choosing a halloween costume?
        CostuME provides a tinder-styled interface where you can compare liked items to one another to make a decision on which costume you want this year.
        Search this app for Halloween costume ideas, and return number of different images, their cost, and a link to the item to purchase.
      %p
        = link_to 'Github', 'https://github.com/Foozie3Moons/react-ecommerce-hackathon',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
        = link_to 'Website', 'https://costume.herokuapp.com',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    .column.is-6
      = link_to 'https://react-ecommerce-hackathon.herokuapp.com', target: :_blank do
        = image_tag 'react_hackathon_screenshot'

  .columns.is-vcentered
    .column.is-6
      %h1.title.is-3 Checkers
      %h5.bold
        %span.primary jQuery
        |
        %span.primary Javascript (ES5)
      %p
        A purely
        %span.primary.bold javascript/jQuery game.
        Skeletal HTML and then
        %span.primary.bold jQuery DOM manipulation
        for the rest. The intention of building this was to demonstrate knowledge of the
        %span.primary.bold DOM.
      %p
        = link_to 'Github', 'https://github.com/Foozie3Moons/extreme-checkers',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
        = link_to 'Website', 'https://foozie3moons.github.io/extreme-checkers',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    .column.is-6
      = link_to 'https://foozie3moons.github.io/extreme-checkers', target: :_blank do
        = image_tag 'checkers_screenshot'
