.has-text-left-aligned
  %h1.title.is-1 Testimonials
  - if !mobile?
    %h1.subtitle.is-3 Short testimonials from former colleagues
.scrollable.content.has-text-left-aligned.background-opaque
  = render :partial => 'main/testimonials/richard_jordan'
  %hr
  = render :partial => 'main/testimonials/khalel_dumaz'
  %hr
  = render :partial => 'main/testimonials/ken_petersen'
  %hr
  = render :partial => 'main/testimonials/david_simon'
  %hr
  = render :partial => 'main/testimonials/steve_peters'
  %hr
  = render :partial => 'main/testimonials/jackson_duhon'
