= form_for @message, url: create_message_url do |f|
  %h1.title.is-1.has-text-left-aligned Contact Me
  - if @message.errors.full_messages.any?
    .message.is-warning
      .message-header
        %p Warning
        %button.delete{'aria-label' => 'delete'}
      .message-body.has-text-left-aligned
        %ul
          - @message.errors.full_messages.each do |error|
            %li= error
  - if notice
    .message.is-success
      .message-header
        %p Sent!
      .message-body.has-text-left-aligned
        %p= notice
  - else
    .field
      .label.primary.bold.is-size-4.has-text-left-aligned Name
      .control.has-icons-left
        = f.text_field :name, placeholder: 'Your name', class: 'input'
        %span.icon.is-small.is-left
          %i.fa.fa-user
    .field
      .label.primary.bold.is-size-4.has-text-left-aligned Email
      .control.has-icons-left
        = f.email_field :email, placeholder: 'Your email', class: 'input'
        %span.icon.is-small.is-left
          %i.fa.fa-envelope
    .field
      .label.primary.bold.is-size-4.has-text-left-aligned Message
      .control
        = f.text_area :body, placeholder: "What's on your mind?", class: 'textarea'
    .field
      .control
        = f.submit 'Send', class: ['button', 'is-info', 'is-outlined', 'is-medium']
