.container.has-text-centered
  - if about_page?
    .columns.is-vcentered
      .column.is-3.animated.fadeInLeft#persistent-container{'data-turbolinks-permanent' => ''}
        = render :partial => 'partials/persistent_section'
      .column.is-8.is-offset-1
        = yield
  - elsif portfolio_page?
    .columns.is-vcentered
      .column.is-4
        = render :partial => 'partials/skills'
      .column.is-8.scrollable
        = yield
  - else
    .columns.is-vcentered
      .column.is-12
        = yield
