%nav.navbar
  .container
    .navbar-brand
      = link_to root_path, class: ['navbar-item', active_class(root_path)] do
        %h1.is-4 Matthew Bell
      %span#nav-menu.navbar-burger.burger{"data-target" => "navbarMenu"}
        %span
        %span
        %span
    #navbarMenu.navbar-menu
      .navbar-end
        = link_to 'About', about_path, class: ['navbar-item', active_class(about_path)]
        = link_to 'Portfolio', portfolio_path, class: ['navbar-item', active_class(portfolio_path)]
        = link_to 'Contact', contact_path, class: ['navbar-item', active_class(contact_path)]
        = link_to 'https://docs.google.com/document/d/1y1wuTUYcFweni8Z5lnJ0UKEMCcn2ZHRDiks8Tyw1lec/edit?usp=sharing', |
          target: :_blank,                                                                                            |
          class: 'navbar-item bold' do                                                                                |
          Resume 
          %i.fa.fa-arrow-right{"aria-hidden" => "true"}
        = link_to "https://www.linkedin.com/in/matthew-bell-290/", |
          target: :_blank,                                         |
          class: 'navbar-item' do                                  |
          %i.fa.fa-linkedin{"aria-hidden" => "true"}>
           
          %i.fa.fa-arrow-right{"aria-hidden" => "true"}
