<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: ['navbar-item', active_class(root_path)] do %>
        <h1 class='is-4'>Matthew Bell</h1>
      <% end %>
      <span id='nav-menu' class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to 'About', about_path, class: ['navbar-item', active_class(about_path)]  %>
        <%= link_to 'Portfolio', portfolio_path, class: ['navbar-item', active_class(portfolio_path)] %>
        <%= link_to 'Contact', contact_path, class: ['navbar-item', active_class(contact_path)] %>
        <%= link_to 'https://docs.google.com/document/d/1y1wuTUYcFweni8Z5lnJ0UKEMCcn2ZHRDiks8Tyw1lec/edit?usp=sharing',
          target: :_blank,
          class: 'navbar-item bold' do
        %>
        Resume&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/matthew-bell-290/",
          target: :_blank,
          class: 'navbar-item' do
        %>
          <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</nav>
