.has-text-left-aligned
  %h1.title.is-2 My Skills
  %h1.subtitle.is-4 Back-end Programming Languages
  %ul.columns
    %li.column
      %span.primary.bold
        %i.icon-ruby
        &nbsp;Ruby
    %li.column
      %span.primary.bold
        %i.icon-nodejs
        &nbsp;Node.js
  %h1.subtitle.is-4 Back-end Frameworks
  %ul.columns
    %li.column
      %span.primary.bold
        %i.icon-ruby-on-rails{"aria-hidden" => "true"}
        &nbsp;Ruby on Rails
    %li.column
      %span.primary.bold
        %i.fa.fa-server{"aria-hidden" => "true"}
        &nbsp;Express.js
  %h1.subtitle.is-4 Database Management Systems
  %ul.columns
    %li.column
      %span.primary.bold
        = link_to 'https://www.mysql.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-mysql-alt
          &nbsp;MySQL
    %li.column
      %span.primary.bold
        = link_to 'https://www.postgresql.org/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-postgres
          &nbsp;PostgreSQL
    %li.column
      %span.primary.bold
        = link_to 'https://www.mongodb.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-mongodb
          &nbsp;MongoDB
  %h1.subtitle.is-4 Front-end Libraries
  %ul.columns
    %li.column
      %span.primary.bold
        = link_to 'https://reactjs.org/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-reactjs
          &nbsp;React
    %li.column
      %span.primary.bold
        = link_to 'https://d3js.org/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-d3
          &nbsp;D3.js
    %li.column
      %span.primary.bold
        = link_to 'https://jquery.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-jquery
          &nbsp;jQuery
  %h1.subtitle.is-4 Front-end Frameworks
  %ul.columns
    %li.column
      %span.primary.bold
        = link_to 'Bulma', 'https://bulma.io/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    %li.column
      %span.primary.bold
        = link_to 'Material-UI', 'https://material-ui.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    %li.column
      %span.primary.bold
        = link_to 'Semantic-UI', 'https://semantic-ui.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    %li.column
      %span.primary.bold
        = link_to 'Bootstrap', 'https://getbootstrap.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
  %h1.subtitle.is-4 Front-end Langauges
  %ul.columns
    %li.column
      %span.primary.bold
        = link_to 'https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-html5
          &nbsp;HTML5
    %li.column
      %span.primary.bold
        = link_to 'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-css3
          &nbsp;CSS3
    %li.column
      %span.primary.bold
        = link_to 'https://www.javascript.com/',
          class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank do
          %i.icon-javascript
          &nbsp;Javascript/Ecmacript6
