<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <section class="hero is-fullheight is-dark is-bold">
      <div class="hero-head">
        <%= render 'partials/navbar' %>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-3">
              <%= render 'partials/persistent_section' %>
            </div>
            <div class="column is-6 is-offset-3">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <%= render 'partials/footer' %>
      </div>
    </section>
  </body>
</html>
